<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<test name = "Check Request API">
	<parameter name = "PNR" value = "S3O226"/>
	<parameter name = "Authorization" value = "1AAuth eyJ1c2VySWQiOiJXU0FDSUJFIiwib2ZmaWNlSWQiOiJZVUxBQzA4QUEifQ=="/>
		<classes>
			<class name = "com.amadeus.APIS.RequestAPI"/>
		</classes>
	</test>

</suite>